{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">
{% endblock %}

{% block title %}
    Is It Full? - Dashboard
{% endblock %}

{% block body %}
    <header>
        <nav class="nav-bar">
            <button class="logo nav-btn" data-section="home-section">
                <img src="{% static 'core/images/favicon/favicon.svg' %}" alt="Is It Full Logo">
            </button>

            <button class="menu-toggle" id="menuToggle" aria-label="Toggle navigation menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>

        <div class="menu" id="Menu">
            <p>Change Password</p>
            <form method="POST" action="">
                {% csrf_token %}
                <button type="submit" name="action" value="signout" class="signout-btn">
                    Sign Out
                </button>
            </form>
            <p>Delete Account</p>
        </div>
    </header>

    <main>

    </main>
{% endblock %}
